---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% if page.output and site.papers and site.papers.size > 0 %}
      <table>
        {% for paper in site.papers %}
          <tr>
            <td>
              <div class="people-name text-center">
                <p align="center">
                  {% if paper.img %}
                    <img class="paper-pic" src="{{ '/assets/img/papers/' | append: paper.img | relative_url }}" />
                  {% else %}
                    <img class="paper-pic" src="{{ '/assets/img/papers/default.svg' | relative_url }}" />
                  {% endif %}
                </p>
              </div>
            </td>

            <td align="center">
              <div class="people-name text-center"><b>{{ paper.title }}</b></div>
            </td>

            <td>
              <div class="people-name text-center">
                {% if paper.authors %}{{ paper.authors }}{% endif %}
                {% if paper.affil %}<br>{{ paper.affil }}{% endif %}
                {% if paper.pdf %}<br><a href="{{ '/assets/pdf/papers/' | append: paper.pdf | relative_url }}" target="_blank">PDF</a>{% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p><em>Proceedings will appear here once available.</em></p>
    {% endif %}
  </div>
</article>
