---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {%- assign show_table = page.show_schedule_table | default: false -%}
    {% if show_table and site.schedule and site.schedule.size > 0 %}
      <table>
        {% for scheduleitem in site.schedule %}
          <tr>
            <td><p align="center">{{ scheduleitem.time }}</p></td>

            <td>
              <div class="col-xs-12">
                <p align="center">
                  {% if scheduleitem.img %}
                    <img class="people-pic" src="{{ scheduleitem.img | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" />
                  {% else %}
                    <img class="people-pic" src="{{ 'avatar.svg' | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" />
                  {% endif %}
                </p>
              </div>
            </td>

            <td align="center"><div class="col-xs-12"><b>{{ scheduleitem.title }}</b></div></td>

            <td>
              <div class="people-name text-center">
                {% if scheduleitem.webpage %}
                  <a href="{{ scheduleitem.webpage }}" target="_blank">{{ scheduleitem.speaker }}</a>
                {% else %}
                  {{ scheduleitem.speaker }}
                {% endif %}
                {% if scheduleitem.affil %}
                  <br>
                  {% if scheduleitem.affil_link %}
                    <a href="{{ scheduleitem.affil_link }}" target="_blank">{{ scheduleitem.affil }}</a>
                  {% else %}
                    {{ scheduleitem.affil }}
                  {% endif %}
                {% endif %}
                {% if scheduleitem.affil2 %}
                  <br>
                  {% if scheduleitem.affil2_link %}
                    <a href="{{ scheduleitem.affil2_link }}" target="_blank">{{ scheduleitem.affil2 }}</a>
                  {% else %}
                    {{ scheduleitem.affil2 }}
                  {% endif %}
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</article>
