---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% if site.speakers and site.speakers.size > 0 %}
      <table style="border-collapse: collapse; border: none;">
        {% for speaker in site.speakers %}
          <tr style="border: none;">
            <td style="border: none;">
              <div class="col-xs-6">
                <p align="center">
                  {% if speaker.img %}
                    <img class="people-pic" src="{{ '/assets/img/speakers/' | append: speaker.img | relative_url }}" />
                  {% else %}
                    <img class="people-pic" src="{{ '/assets/img/speakers/avatar.svg' | relative_url }}" />
                  {% endif %}
                </p>
              </div>
            </td>

            <td style="border: none;">
              <div class="people-name text-center">
                {% if speaker.webpage %}
                  <b><a href="{{ speaker.webpage }}" target="_blank">{{ speaker.name }}</a></b>
                {% else %}
                  <b>{{ speaker.name }}</b>
                {% endif %}
                <br>

                {% if speaker.affil %}
                  {% if speaker.affil_link %}
                    <a href="{{ speaker.affil_link }}" target="_blank">{{ speaker.affil }}</a>
                  {% else %}
                    {{ speaker.affil }}
                  {% endif %}
                {% endif %}

                {% if speaker.affil2 %}
                  <br>
                  {% if speaker.affil2_link %}
                    <a href="{{ speaker.affil2_link }}" target="_blank">{{ speaker.affil2 }}</a>
                  {% else %}
                    {{ speaker.affil2 }}
                  {% endif %}
                {% endif %}
              </div>
            </td>

            <td style="border: none;">
              <div class="people-name text-center">
                {{ speaker.content }}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p><em>Speakers will be announced soon.</em></p>
    {% endif %}
  </div>
</article>
